
.lineadding>li {
  padding-left: 10px;
  width:90%;
  list-style: none;
  position: relative;
  padding-left: 20px; /* Adjust padding as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
}

.lineadding> li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15%;
  transform: translateY(-50%);
  width: 7px; /* Adjust line width as needed */
  height: 7px; /* Adjust dot size as needed */
  background-color: #5983e5; /* Adjust dot color as needed */
  border-radius: 50%; /* To make the dot circular */
}

.lineadding>li::after {
  content: '';
  position: absolute;
  left: 3px; /* Adjust distance between dot and line */
  top: 0;
  bottom: 0;
  width: 2px;
  height:100px; /* Adjust line width as needed */
  background-color: #5983e5; /* Adjust line color as needed */
}


