.pendulum {
    animation: pendulum 5s infinite alternate;
    transform-origin: top center;
  }

@keyframes pendulum {
    0%, 100% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(45deg);
    }
}